# игнорировать все объектные файлы
*.o
*.out
*.hi
tmp
main

#игнорировать geany файлы
*.geany

# игнорировать временные файлы
tmp*
*~
*.txt
poly*

# игнорировать latex файлы
*.aux
*.log
*.toc
*.nav
*.snm
*.dvi
